<!DOCTYPE html>

<%- include("header") -%>

  <div class="box" id="heading">

    <h1> <%= listTitle %></h1>
  </div>
  <div class="box">
    <%  for(var i=0;i<newItem.length;i++){ %>
    <div class="item">
      <input type="checkbox">
      <li><%= newItem[i] %></li>
    </div>

    <%  } %>
    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item"autocomplete="off"></input>
      <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
  </div>

<%- include("footer") -%>
</html>
